<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Under Header -->
<div id="ad_container_1"></div>
<script>
  (function () {
    var i = document.createElement("ins");
    i.className = "adsbygoogle";
    i.setAttribute("data-ad-client", atob("ZGdhY2EtcHViLTEwMTAzNDkyNDMzNjU2ODY3MjYxODM0").substring(3,"00000000000000000000000000".length));
    //i.setAttribute("data-ad-slot", "");
    i.setAttribute("data-ad-format", "auto");
    // i.setAttribute("data-adtest", "on");
    var is = i.style;
    is.display = "block";
    is.margin = "auto";
    is.backgroundColor = "transparent";
    is.marginTop = "16px";
    is.marginBottom = "16px";
    document.getElementById('ad_container_1').appendChild(i);
  })();
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br/>